@page
@model SchoolPlanner2.Pages.Tasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].TypeOfTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].isDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Task) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TaskID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TaskID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
