@page
@model SchoolPlanner2.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Day)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
    var endDate1 = item.EndTime.ToString().Substring(0, 2);
    var endDate2 = item.EndTime.ToString().Substring(2, 2);
    var startDate1 = item.StartTime.ToString().Substring(0, 2);
    var startDate2 = item.StartTime.ToString().Substring(2, 2);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => startDate1):@Html.DisplayFor(modelItem => startDate2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => endDate1):@Html.DisplayFor(modelItem => endDate2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
